@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

body{
    font-family: "Montserrat", sans-serif;
    line-height: 1.7;
}

/* ##################### utility classes ################### */
.lg-heading{
    font-size: 3.5rem;
}

.md-heading{
    font-size: 2.2rem;
}



.header{
    height: 96vh;
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)) ,url('../img/header-image.jpg');
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;

}

.header .img-logo h1, a{
    color: #fff;
}


.img-logo img{
    width: 5rem;
    margin-bottom: 1rem;
}

a{
    font-size: 2rem;
    text-decoration: none;
}

.nav-items a:hover{
    border-bottom: 1px solid white;
}



ul li{
    list-style: none;
}

p, li{
    font-size: 1.6rem;
    margin-bottom: 0.5;
    letter-spacing: 0.15em;
}

.img-logo{
    /* border: 2px solid red; */
    width: 50%;
    text-align: center;
    float: left;
}

.nav-items{
    width: 50%;
    float: right;
    text-align: center;
    padding-top: 3rem;
    padding-left: 10rem;
    /* border: 2px solid white; */

}

.navbar::after{
    content:"";
    display: block;
    clear: both;
}

.nav-item{
    display: inline-block;
}

h1,h2,h3{
    margin-bottom: 0.5em;
    letter-spacing: 0.15em;
    font-weight: 500;
}