@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

body{
    font-family: "Montserrat", sans-serif;;
}

.header{
    height: 96vh;
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)) ,url('../img/header-image.jpg');
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;

}


.header .img-logo h1{
    color: #fff;
    font-size: 2rem;
}


.img-logo img{
    width: 5rem;
    margin-bottom: 1rem;
}

.nav-items a{
    color: #fff;
    font-size: 2rem;
    text-decoration: none;
    padding: 1.5rem;
}

.nav-items a:hover{
    border-bottom: 1px solid white;
}



.nav-items .nav-item{
    list-style: none;
    display: inline-block;
    text-align: right;
}


.navbar{
    /* border: 4px solid green; */
}

.img-logo{
    /* border: 2px solid red; */
    width: 50%;
    text-align: center;
    float: left;
}

.nav-items{
    width: 50%;
    float: right;
    text-align: center;
    padding-top: 3rem;
    padding-left: 10rem;
    /* border: 2px solid white; */

}

.navbar::after{
    content:"";
    clear: both;
    display: block;
}